@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    background-color: #000;
    color: #eee;
    font-family: Poppins;
    font-size: 12px;
}
a{
    text-decoration: none;
}
header{
    width: 1140px;
    max-width: 80%;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
}
header a{
    color: #eee;
    margin-right: 40px;
}
/* carousel */
.carousel{
    height: 100vh;
    margin-top: -50px;
    width: 100vw;
    overflow: hidden;
    position: relative;
}
.carousel .list .item{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}
.carousel .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel .list .item .content{
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}
.carousel .list .item .author{
    font-weight: bold;
    letter-spacing: 10px;
}
.carousel .list .item .title,
.carousel .list .item .topic{
    font-size: 5em;
    font-weight: bold;
    line-height: 1.3em;
}

/*Buttom color form*/

.carousel .list .item .topic{
    color: #2db5df;
}
.carousel .list .item .buttons{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}
.carousel .list .item .buttons button{
    border: none;
    background-color: #eee;
    letter-spacing: 3px;
    font-family: Poppins;
    font-weight: 500;
}
.carousel .list .item .buttons button:nth-child(2){
    background-color: transparent;
    border: 1px solid #fff;
    color: #eee;
}
/* thumbail */
.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.thumbnail .item .content{
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
.thumbnail .item .content .title{
    font-weight: 500;
}
.thumbnail .item .content .description{
    font-weight: 300;
}
/* arrows */
.arrows{
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.arrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
}
.arrows button:hover{
    background-color: #fff;
    color: #000;
}

/* animation */
.carousel .list .item:nth-child(1){
    z-index: 1;
}

/* animation text in first item */

.carousel .list .item:nth-child(1) .content .author,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.carousel .list .item:nth-child(1) .content .title{
    animation-delay: 1.2s!important;
}
.carousel .list .item:nth-child(1) .content .topic{
    animation-delay: 1.4s!important;
}
.carousel .list .item:nth-child(1) .content .des{
    animation-delay: 1.6s!important;
}
.carousel .list .item:nth-child(1) .content .buttons{
    animation-delay: 1.8s!important;
}
/* create animation when next click */
.carousel.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}
@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.carousel.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.prev .list .item img{
    z-index: 100;
}
@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}
.carousel.next .thumbnail{
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}

/* running time color form */

.carousel .time{
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: #3a99f1;
    left: 0;
    top: 0;
}

.carousel.next .time,
.carousel.prev .time{
    animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime{
    from{ width: 100%}
    to{width: 0}
}


/* prev click */

.carousel.prev .list .item:nth-child(2){
    z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.carousel.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.next .arrows button,
.carousel.prev .arrows button{
    pointer-events: none;
}
.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}


/*Bar.nav-form*/

/*Header-Opciones*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo { 
    order: 2;
    margin-right: 20px;
    margin-top: 10px;
}

.header .logo img {
    height: 50px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header nav {
    order: 1;
}

.header .nav-links{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;    
}

.header .nav-links li:nth-child(1){
    padding: 0 20px 0 0;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #eceff1;
    text-decoration: none;    
}

.header .nav-links li a:hover{
    color: #0edbff;
}

.header .btn{
    order: 2;
}

.header .btn button{
    margin-left: 20px;
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: #e2f1f8;
    color: #0effcb;
    transform: scale(1.1);
}

/*Responsive-backgrond-nav form*/

@media (max-width: 768px) {
    .header {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .header .logo {
        margin-left: 0;
    }

    .header .nav-links {
        margin-top: 10px;
        justify-content: center;
    }

    .header .nav-links li {
        padding: 10px 0;
    }

    .header .btn {
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 5px;
    }

    .header .nav-links li {
        padding: 5px 0;
    }

    .header .btn button {
        padding: 7px 20px;
        font-size: 14px;
    }

    .header .logo img {
        height: 50px;
    }
}

/*Carrusel media*/

@media (max-width: 768px) {
    .carousel .list .item .content {
        top: 10%;
        padding-right: 0;
    }

    .carousel .list .item .title,
    .carousel .list .item .topic {
        font-size: 3em;
    }
}

@media (max-width: 480px) {
    .carousel .list .item .title,
    .carousel .list .item .topic {
        font-size: 2em;
    }

    .thumbnail .item {
        width: 80px;
        height: 120px;
    }

    .arrows {
        width: 150px;
    }

    .arrows button {
        width: 30px;
        height: 30px;
    }
}

/*Footer*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

.footer-distributed {
    background-color: #ffffff;
    color: #333;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 50px 50px;
    border-top: 3px solid #1c6ae0;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
    width: 30%;
}

.footer-distributed h3 {
    color: #1c6ae0;
    font: normal 36px 'Open Sans', sans-serif;
    margin: 0;
}

.footer-distributed h3 span {
    color: #333;
}

.footer-distributed .footer-links {
    color: #333;
    margin: 20px 0 12px;
}

.footer-distributed .footer-left a {
    text-decoration: none;
    color: #1c6ae0;
    margin: 0 10px;
}

.footer-distributed .footer-company-name {
    color: #777;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-center i {
    background-color: #1c6ae0;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: center;
    line-height: 38px;
    margin: 10px 15px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #333;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-right p {
    color: #777;
    font-size: 14px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #1c6ae0;
    border-radius: 50%;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #333;
}

@media (max-width: 880px) {
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.footer-distributed .footer-center {
    margin-left: 0;
}
}

/*Nuestro equipo*/

.header-team {
    text-align: center;
    margin: auto;
    max-width: 50vh;
    padding-block: 48px;
    margin-bottom: 48px;
    border-bottom: 2px dashed var(--primary);
    color: var(--primary);
    font-size: 32px;
    letter-spacing: 4px;
}

:root {
    --primary: #0d93c9;
}

.section-team {
    background-color: #e2f1f8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.team {
    width: 320px;
    height: 480px;
    overflow: hidden;
    margin: 8px;
    border: 2px solid var(--primary);
    border-radius: 16px;
    position: relative;
    background-color: #ffffff34;
}

.team::before {
    content: '';
    background-image: var(--img);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    filter: blur(4px) grayscale(100%);
}

.team img {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 480px;
    border-radius: 16px;
    z-index: 3;
    object-fit: cover;
    border: none;
}

.team:hover img {
    width: 160px;
    height: 240px;
    border: 2px solid var(--primary);
    left: 80px;
    top: 60px;
}

.team .info {
    background-color: white;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 2;
    color: #363636;
    padding: 16px;
    border-top: 8px solid var(--primary);
    border-radius: 50% 50% 0px 0px;
    padding-top: 80px;
    text-align: center;
    transform: scale(2)
}

.team .name {
    font-size: 24px;
    padding: 16px;
    text-transform: capitalize;
}

.team .title {
    color: grey;
    text-transform: capitalize;
}

.team:hover .info {
    transform: scale(1)
}

.team .social {
    padding-block: 16px;
    font-size: 24px;
}

.team .social i {
    display: inline-block;
    width: 48px;
    padding: 12px;
    background-color: #ededed;
    border-radius: 16px;
    margin: 4px;
    cursor: pointer;
}

.team .social i:hover {
    color: var(--primary);
    background-color: #363636;

}

/*Mensaje form*/

.message-tab {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #007BFF;
    color: white;
    padding: 15px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    width: 90%;
    max-width: 600px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.message-tab.show {
    opacity: 1;
    visibility: visible;
}

#close-tab {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.message-tab p {
    margin: 0;
    font-size: 16px;
}

.message-tab.hide {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

@media (max-width: 480px) {
    .message-tab p {
        font-size: 14px;
    }

    #close-tab {
        font-size: 18px;
    }

    .message-tab {
        padding: 10px;
    }
}